<!doctype html>
<!--[if lt IE 7]><html lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index,follow">
<link rel="icon" href="{{asset "/favicon.ico"}}">
<link rel="apple-touch-icon" href="{{asset "/apple-icon-touch.png"}}">
<link rel="alternate" href="http://eepurl.com/ccSeKL" title="{{@blog.title}} » Feed" type="application/rss+xml">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700,400" type="text/css">
<link rel="stylesheet" href="{{asset "css/uikit.min.css"}}" id="base-stylesheet-css" type="text/css">
<link rel="stylesheet" href="{{asset "css/custom.css"}}" id="custom-stylesheet-css" type="text/css">
<!--[if IE]><link rel="shortcut icon" href="{{asset "/favicon.ico"}}"><![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="{{asset "js/fallback/html5shiv.js"}}"></script>
<script type="text/javascript" src="{{asset "js/fallback/css3-mediaqueries.js"}}"></script>
<script type="text/javascript" src="{{asset "js/fallback/selectivizr-min.js"}}"></script>
<![endif]-->
{{ghost_head}}
</head>

<body class="{{body_class}}">
{{navigation}}
{{{body}}}

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//facebook.us1.list-manage.com/subscribe/post?u=6ed281b27be3b6a96e5087dee&amp;id=046c5ae057" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6ed281b27be3b6a96e5087dee_046c5ae057" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

{{> footer}}
{{ghost_foot}}

<script type="text/javascript" src="{{asset "js/jquery.js"}}"></script>
<script type="text/javascript" src="{{asset "js/uikit.min.js"}}"></script>
<!-- <script type="text/javascript" src="{{asset "js/scripts.js"}}"></script> -->

{{! Optional Scripts - Refer to notes and use judiciously }}
<!-- <script type="text/javascript" src="{{asset "js/fitvids.js"}}" async defer></script> -->
<!-- <script type="text/javascript" src="{{asset "js/analytics.js"}}" async defer></script> -->
</body>
</html>
